apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: users-api
          image: techchallengefiaporchestation-users-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
